.details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;

    img{
        min-width: 500px;
        min-width: 290px;
        display: block;
        height: 300px;
        object-fit: cover;
    }

    .box{
        max-width: 500px;
        min-width: 290px;
        margin: 0 30px;

        .row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            align-items: center;
            h2{
                text-transform: uppercase;
                letter-spacing: 2px;
            }
    
            span{
                color: crimson;
            }
    
           
        }

        .colors{
            button{
                width: 30px;
                height:30px;
                border:1px solid #333;
                outline: none;
                margin-right: 5px;
                cursor: pointer;
            }
            
        }

        p{
            line-height: 1.5;
            margin: 15px 0;
        }

        .cart{
            background-color: #333;
            color: #fff;
            text-decoration: none;
            padding: 10px 25px;
            display: inline-block;
            margin-right: 20px;
        }
    }
    
    

}